.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
}

.menu-item.active {
  background-color: #ef8640;
  color: white;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.results-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.results-list li .list-text {
  flex-grow: 1;
  padding-right: 10px;
}

.results-list li .view-button {
  background-color: #FF7400;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.results-list li .view-button:hover {
  background-color: #894b17;
}

.input-container {
  margin-bottom: 15px;
}

.input-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.data-form button {
  background-color: #ef8640;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 15px;
}

.data-form button:hover {
  background-color: #ef8640;
}

.custom-notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.mdc-list {
  list-style: none;
  padding: 0;
}

.mdc-list-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}

.mdc-list-item__text {
  margin-right: 16px;
}

